.backgroundPic {
    background-image: url('/assets/mycity.jpg');
    background-attachment:fixed;
    background-size: 100%;
  
}
.minHeight {
    min-height:650px;
    text-align: center;
    
}
.autoMargin{
    margin:auto;
 
}
.transparent{
    background-color: rgba(22, 26, 22, 0.9);


}
.bg{
    
    background-image: url('/assets/testimonials.jpeg');
    min-height:200px;
    background-attachment:fixed;
    background-size: 100%;
    
}
.bg1{
    background-image: url('/assets/testimonials.jpeg');
    min-height:10px;
    background-attachment:fixed;
    background-size: 100%;
    
}
.inbg{
    background-color: rgba(0, 0, 0, 0.853);
    min-height:200px;
}

.alignMargin{
    margin:0px 20px 0px 20px;
}